/* ===== Login Page Styling ===== */

.login-container {
  margin-top: 50px;
  max-width: 500px;
  margin: 80px auto;
  padding: 30px 25px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Heading */
.login-container h2 {
  margin-bottom: 25px;
  color: #0B1E39;
  font-weight: bold;
  font-size: 30px;
  font-weight: 600;
}

/* Error message */
.login-container .error {
  background: #fee2e2;
  color: #b91c1c;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  font-size: 14px;
}

/* Form */
.login-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Inputs */
.login-container input {
  padding: 12px 14px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
}

.login-container input:focus {
  border-color: #0B1E39;
  box-shadow: 0
}

.button{
  background-color: #0B1E39;
  color: white;
  font-size: 20px;
}
.button:hover
{
  border: #ffffff;
}
